:root {
    --square-size: 31.25px;
}

body {
    margin: 0 auto;
    text-align: center;
}

#grid {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.grid-square {
    background-color: white;
    width: var(--square-size);
    height: var(--square-size);
    margin: 0;
    transition: 0.5s;
}

.grid-square-filled {
    background-color: black;
}